<% if page.current? %>
  <li class='active page-item'>
    <%= content_tag :a, page, data: { remote: remote }, rel: page.rel, class: "page-link" %>
  </li>
<% else %>
  <li class="page-item">
    <%= link_to page, url, rel: page.rel, **pagination_attributes(remote) %>
  </li>
<% end %>
